* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
  }

html {
        padding: 3px 3px 3px 3px;

        background-color: #D8DBE2;
        font-family: Ubuntu, Verdana, sans-serif;
        font-size: 15pt;
        text-align: center;
}

body1 {
        position: relative;
        display: table;

        margin-bottom: 3px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px 0px;

        border-width: 2px;
        border-color: #212738;
        border-style: solid;

        background-color: #ffffff;

        font-family: Ubuntu, Verdana, sans-serif;
        font-size: 11pt;
        text-align: center;

}
.button {
        background-color: black;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        transition-duration: 0.1s;
        cursor: pointer;
}

.button1 {   /*#04AA6D*/
        background-color: #8E9CB2;
        color: white;
        border: 2px solid #143d61;
}

.button1:hover {
        background-color: #143d61;
        color: white;
}

/*w3schools*/
/* Text boxs*/
input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
}

input[type=text1], select, textarea {
        width: 100%;
	height: 150px;
        padding: 12px;
	box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
	font-family: Ubuntu, Verdana, sans-serif;
        font-size: 11pt;

}


/* Label next to text boxes */
label {
        padding: 12px 12px 12px 0;
        display: inline-block;
}

input[type=submit] {
        background-color: #04AA6D
        color: white;
        padding: 12px 20px;
        border none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
}

input[type=submit]:hover {
        background-color: #45a049;
}

.container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
}

.col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
}

.col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
}

/* clear floats after the columns */
.row::after {
        content: "";
        display: table;
        clear: both;
}


/* Responsive layout - when the screen is less than 600px, make columns stack. */
@media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
        }
}

div.section_header {
    padding: 3px 6px 3px 6px;

    background-color: #8E9CB2;

    color: #FFFFFF;
    font-weight: bold;
    font-size: 112%;
    text-align: center;
}

/* Forum loading css */

.box{
	position: relative;
	display: table;	

	max-width:50px

	text-align: left;
	padding-top:5px;
	border-style:solid;
	border-color:#336699;
	border-width:1px;
	padding-left:10px;
	padding-bottom:10px;
}
